<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결과창</title>

</head>

<body>
    
    <h1>성공!</h1>
    <h2>해당 URL은 {{result}}</h2>
</body>

<style>
    @font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight:lighter;
    font-style: normal;
}


* {
    background: #333;
    font-family: 'DungGeunMo';
}

body{
    text-align: center;
    color: #b6c253;
    margin-top:200px;
}
</style>
</html>